* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat", sans-serif;
}
#app {
  background-image: url("../assets/error.jpg");
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  background-color: rgb(40, 168, 222);
}
#app.warm {
  background-image: url("../assets/sunny.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.4s;
  transition-delay: 0.8s;
}
#app.clouds {
  background-image: url("../assets/clouds.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.4s;
  transition-delay: 0.8s;
}
#app.winter {
  background-image: url("../assets/cold.webp");
  background-size: cover;
  background-position: center;
  transition: 0.4s;
  transition-delay: 0.8s;
}
#app.rain {
  background-image: url("../assets/rain.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.4s;
  transition-delay: 0.8s;
}
#app.clear-night {
  background-image: url("../assets/clear-night.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.4s;
  transition-delay: 0.8s;
}
#app.cloudy-night {
  background-image: url("../assets/cloudy-night.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.4s;
  transition-delay: 0.8s;
}
main {
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
  );
}
.searchbox {
  width: 100%;
  margin-bottom: 30px;
}
.searchbox .searchbar {
  display: block;
  width: 100%;
  padding: 15px;
  color: #313131;
  font-size: 20px;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 16px 0 16px;
  transition: 0.4s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.searchbox .searchbar:focus {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 16px 0 16px 0;
}
.locationbox .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}
.notfound {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  text-shadow: -1px -1px rgba(0, 0, 0);
  text-shadow: 1px -1px rgba(0, 0, 0);
  text-shadow: -1px 1px rgba(0, 0, 0);
  text-shadow: 1px 1px rgba(0, 0, 0);
  margin-top: 200px;
}
.locationbox .date {
  color: #fff;
  font-size: 17px;
  font-weight: 120;
  text-align: center;
  font-style: italic;
  margin-top: 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
.feels {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  font-style: italic;
  margin: 15px 0;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}
.weatherbox {
  text-align: center;
}
.weatherbox .temp {
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  margin: 30px 0;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}
.weatherbox .status {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}
button {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  margin: 30px 0;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
button:disabled,
button[disabled] {
  background-color: rgba(255, 255, 255, 0.55);
  box-shadow: 1px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px rgba(0, 0, 0, 0);
  color: #000;
  cursor: not-allowed;
}
.locationButton {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 0px;
  box-shadow: none;
}
img {
  width: 28px;
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 33px;
  cursor: pointer;
}
[v-cloak] > * {
  display: none;
}
[v-cloak] ::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: "../assets/loading.gif";
  background-size: cover;
  left: 50%;
  right: 50%;
}
